.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  min-width: 50vw;
  padding: 1rem 0;

  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 1em gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }

  .inputsContainers {
    display: flex;
    flex-direction: column;

    width: 50%;
  }

  button {
    padding: 0.5rem;
    cursor: pointer;
  }
}
